* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(roboto/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url(montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: url(raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url(raleway/static/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url(raleway/static/Raleway-SemiBold.ttf);
}

body {
  font-family: Roboto, sans-serif;
}

.wrap-header {
  background: url(img/bg_header.jpg) center/cover;
  background-color: grey;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  min-height: 1024px;
  max-width: 1920px;
  margin: 0 auto;
}

.header__top {
  max-width: 1335px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header__logo {
  max-width: 184px;
  display: inline-block;
  padding-top: 39px;
}

.header__logo:hover .header__icon {
  fill: #c7b299;
}

.header__logo:hover .header__icon-name {
  color: #c7b299;
}

.header__icon {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__icon-name {
  font: 400 34px/40px Raleway, sans-serif;
  float: right;
  color: #fff;
  padding-top: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 825px;
  float: right;
  padding-top: 54px;
}

.header__menu {
  font: 300 14px/17px Montserrat, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
}

.header__menu-list {
  margin-left: 15px;
  display: inline-block;
  color: #fff;
  margin-right: 15px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__menu-list:hover {
  color: #c7b299;
}

.header_hidden_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__submenu {
  margin-top: -5px;
}

.header__submenu-transparent {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__submenu-transparent:hover {
  fill: #c7b299;
}

.header__main {
  padding-top: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text_big {
  font: 500 36px/42px Raleway, sans-serif;
  color: #fff;
}

.header__heading {
  font: 600 52px/61px Raleway, sans-serif;
  color: #fff;
  padding-bottom: 4px;
  text-align: center;
}

.header__menu_small {
  display: none;
}

.header__text {
  font: 400 16px/20px Montserrat, sans-serif;
  text-align: center;
  color: #fff;
}

.header__button {
  color: #fff;
  display: inline-block;
  padding: 19px 40px;
  background: #988574;
  border-radius: 3px;
  margin-top: 39px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__button:hover {
  background: #716b5b;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 569px;
}

.header__left_swap {
  fill: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__left_swap:hover {
  fill: #d3c1ac;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__right_swap {
  fill: #fff;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__right_swap:hover {
  fill: #d3c1ac;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__slider_wrap {
  margin: 0 auto;
  width: 100px;
  padding-top: 310px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__slider_round {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__slider_round:hover {
  background: none;
  border: 1px solid #d3c1ac;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.services {
  min-height: 380px;
}

.services__block {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 84px;
  padding-bottom: 88px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.services__item:hover svg {
  fill: #c7b299;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__item:hover h3 {
  color: #c7b299;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__item:hover hr {
  background: #c7b299;
}

.services__img {
  height: 52px;
  fill: #555555;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.services__img:hover {
  fill: #c7b299;
}

.services__heading {
  font: 600 22px/26px Raleway, sans-serif;
  color: #555555;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.services__heading:hover {
  color: #c7b299;
}

.services__text {
  font: 300 14px/17px Montserrat, sans-serif;
  text-align: center;
  color: #000000;
}

.services__line {
  background: #f1eee9;
  width: 70px;
  margin: auto;
  margin-top: 30px;
  height: 2px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services__line:hover {
  background: #c7b299;
}

.waxom {
  background: #fbfaf8;
  min-height: 700px;
}

.waxom__heading {
  font: 600 30px/35px Raleway, sans-serif;
  text-align: center;
  color: #555555;
  padding-top: 80px;
  padding-bottom: 20px;
}

.waxom__text {
  font: 300 16px/20px Montserrat, sans-serif;
  text-align: center;
  color: #8c8c8c;
  max-width: 770px;
  margin: auto;
  padding-bottom: 42px;
}

.waxom__img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.purchase {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0, #4e3326 100%);
  min-height: 150px;
}

.purchase__wrap {
  max-width: 1234px;
  margin: auto;
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.purchase__heading {
  font: 400 28px/33px Raleway, sans-serif;
  color: #fff;
  padding-bottom: 6px;
}

.purchase_waxom_gold {
  color: #c7b299;
}

.purchase__text {
  font: 300 18px/22px Montserrat, sans-serif;
  color: #555555;
}

.purchase__button {
  font: 400 14px/16px Roboto, sans-serif;
  color: #fff;
  padding: 19px 32px;
  background: #988574;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.purchase__button:hover {
  background: #716b5b;
}

.purchase__wrapper {
  margin-top: 20px;
}

.latest-project {
  min-height: 1160px;
  padding-bottom: 13px;
}

.latest-project__desc {
  padding-top: 61px;
  text-align: center;
}

.latest-project__top-heading {
  font: 600 30px/35px Raleway, sans-serif;
  color: #555555;
  padding-bottom: 9px;
}

.latest-project__text {
  font: 300 16px/20px Montserrat, sans-serif;
  color: #8c8c8c;
  max-width: 802px;
  margin: auto;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
}

.latest-project__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 590px;
  padding-bottom: 69px;
}

.latest-project__choose_category {
  font: 300 14px/17px Montserrat, sans-serif;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  padding: 7px 17px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

.latest-project__choose_category:hover {
  background: #998575;
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.latest-project__card_block {
  max-width: 1170px;
  margin: auto;
}

.latest-project__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-project__img {
  position: absolute;
}

.latest-project__item {
  background: #fbfaf8;
  margin-bottom: 69px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.latest-project__item:hover {
  background: #352f2d;
}

.latest-project__item:hover .latest-project__item_dark {
  opacity: 0.4;
}

.latest-project__item:hover .latest-project__heading {
  color: #fff;
}

.latest-project__item:hover .latest-project__text-card {
  color: #c7b299;
}

.latest-project__item_dark {
  background: #000000;
  content: '';
  height: 237px;
  display: block;
  width: 370px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.latest-project__item_dark_small {
  height: 220px;
  width: 368px;
  margin-top: -60px;
  z-index: 2;
}

.latest-project__heading {
  font: 500 20px/23px Raleway, sans-serif;
  color: #c7b299;
  padding: 26px 8px 8px 23px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.latest-project__text-card {
  font: 300 14px/17px Montserrat, sans-serif;
  color: #d1d1d1;
  padding-left: 23px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.latest-project__button {
  font: 400 14px/16px Roboto, sans-serif;
  background: #988574;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  padding: 19px 47px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.latest-project__button:hover {
  background: #716b5b;
}

.latest-project__wrap-button {
  text-align: center;
}

#myVideo {
  position: absolute;
  max-width: 1140px;
}

.video-presentation {
  min-height: 641px;
  margin: 0 auto;
  max-width: 1140px;
}

.video-presentation_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 248px;
  position: relative;
}

.video-presentation__play-img {
  padding-bottom: 31px;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.video-presentation__play-img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video-presentation__heading {
  font: 500 30px/35px Raleway, sans-serif;
  color: #fff;
  padding-bottom: 18px;
  text-align: center;
}

.video-presentation__text {
  font: 300 16px/20px Montserrat, sans-serif;
  color: #fff;
  text-align: center;
  padding-bottom: 18px;
}

.video-presentation__time {
  font: 400 16px/20px Montserrat, sans-serif;
  color: #c7b299;
}

.devices {
  min-height: 694px;
  background: #fbfaf8;
  position: -webkit-sticky;
  position: sticky;
}

.devices-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1157px;
  margin: auto;
}

.devices__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.devices__img-wrap {
  padding-top: 78px;
}

.devices__text {
  font: 300 16px/20px Montserrat, sans-serif;
  color: #8c8c8c;
  padding-bottom: 49px;
  max-width: 670px;
}

.devices__text-wrap {
  padding-top: 190px;
}

.devices__heading {
  font: 600 30px/35px Raleway, sans-serif;
  color: #555555;
  padding-bottom: 20px;
  max-width: 670px;
}

.devices__list {
  font: 300 16px/20px Montserrat, sans-serif;
  padding-left: 70px;
  color: #8c8c8c;
}

.devices__list-item {
  padding-bottom: 10px;
  background: url(icon/mobile_list-style.png);
  background-repeat: no-repeat;
  padding-left: 28px;
}

.counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0, #4e3326 100%);
  min-height: 211px;
}

.counters__list {
  max-width: 786px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 36px;
}

.counters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 2px;
}

.counters__number {
  font: 300 48px/59px Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.counters__desc {
  font: 300 14px/17px Montserrat, sans-serif;
  color: #c7b299;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.counters__img {
  margin: 0 auto;
}

.counters_line {
  width: 30px;
  margin: auto;
  margin-top: 15px;
  color: #fff;
}

.recent {
  min-height: 750px;
}

.recent_wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.recent__top {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent__heading {
  font: 600 30px/35px Raleway, sans-serif;
  color: #555555;
  padding-bottom: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.recent__text {
  font: 300 16px/28px Montserrat, sans-serif;
  max-width: 770px;
  color: #8c8c8c;
  padding-bottom: 30px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.recent__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent__card {
  border: 1px solid #b3b3b3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__card:hover {
  background: #352f2d;
}

.recent__card:hover .latest-project__item_dark_small {
  opacity: 0.5;
}

.recent__card:hover .recent__upper_calendar {
  background: #c7b299;
}

.recent__card:hover .recent__down_calendar {
  background: #a48d71;
}

.recent__card:hover .recent__subheading {
  color: #c7b299;
}

.recent__card:hover .recent__text-card {
  color: #fff;
}

.recent__card:hover .recent__link:after {
  content: " >";
}

.recent__img {
  position: absolute;
  height: 219px;
  width: 368px;
}

.recent__calendar {
  position: relative;
  top: 17px;
  left: 23px;
  width: 50px;
  height: 59px;
  z-index: 1;
}

.recent__calendar_upper_text {
  font: 300 30px/37px Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.recent__calendar_down_text {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding-top: 6px;
}

.recent__upper_calendar {
  background: #363636;
  border-radius: 3px;
  width: 50px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__down_calendar {
  background: #363636;
  border-radius: 0 0 3px 3px;
  width: 50px;
  height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__subheading {
  font: 500 20px/23px Raleway, sans-serif;
  padding: 31px 18px 22px 23px;
  color: #555555;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__text-card {
  font: 300 14px/22px Montserrat, sans-serif;
  max-width: 311px;
  text-align: left;
  padding-left: 23px;
  padding-right: 23px;
  color: #000000;
  padding-bottom: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__link {
  font: 300 14px/17px Montserrat, sans-serif;
  padding-left: 23px;
  padding-right: 23px;
  color: #c7b299;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent__slider {
  margin: 0 auto;
  max-width: 62px;
  padding-top: 54px;
  padding-bottom: 38px;
}

.recent__slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent_slider_bold {
  fill: #d1d1d1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent_slider_bold:hover {
  fill: #c7b299;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.partners {
  background: url(img/bg_partners.jpg) center/cover;
  background-color: grey;
  min-height: 489px;
}

.partners_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1065px;
  padding-top: 140px;
}

.partners__logo {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.partners__logo:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footer {
  background: #191919;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1248px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 510px;
}

.footer__block-info {
  max-width: 270px;
}

.footer__wrapper_logo {
  padding-top: 74px;
}

.footer__icon {
  float: left;
  padding-right: 11px;
}

.footer__desc_icon {
  font: 400 34px/40px Raleway, sans-serif;
  color: #fff;
  padding-left: 11px;
  padding-top: 11px;
  padding-bottom: 17px;
}

.footer__text {
  font: 300 14px/17px Montserrat, sans-serif;
  clear: both;
  color: #555555;
  padding-bottom: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__text_main {
  font: 300 14px/17px Montserrat, sans-serif;
  clear: both;
  color: #555555;
  padding-bottom: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__link {
  font: 400 14px/17px Montserrat, sans-serif;
  color: #d1d1d1;
}

.footer__link_twitter {
  color: #82817b;
}

.footer__block-info-short {
  padding-top: 107px;
}

.footer__heading {
  font: 600 24px/28px Raleway, sans-serif;
  color: #fff;
  padding-bottom: 24px;
}

.footer__posts {
  padding-top: 12px !important;
  border-bottom: 1px solid #363636 !important;
}

.footer__posts:nth-last-child(1) {
  border-bottom: none;
}

.footer__posts-data {
  font: 300 12px/15px Montserrat, sans-serif;
  color: #363636;
  padding-bottom: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__posts:first-child {
  padding-top: 0;
}

.footer__posts:hover .footer__posts-data {
  color: #fff;
}

.footer__posts:hover .footer__text {
  color: #c7b299;
}

.footer__posts:hover .footer__link:after {
  content: " >";
}

.footer-no-border {
  border-bottom: none !important;
}

.footer__tag {
  color: #00bff3;
}

.footer__text-near {
  padding-bottom: 6px;
}

.footer__twitter-data {
  font: 300 12px/15px Montserrat, sans-serif;
  color: #363636;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__twitter-posts {
  border-bottom: 1px solid #363636 !important;
  padding-bottom: 16px;
  padding-top: 12px !important;
}

.footer__twitter-posts:nth-last-child(1) {
  border-bottom: none;
}

.footer__twitter-posts:first-child {
  padding-top: 0;
}

.footer__twitter-posts:hover .footer__text {
  color: #c7b299;
}

.footer__twitter-posts:hover .footer__twitter-data {
  color: #fff;
}

.footer__widget-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 205px;
}

.footer__widget_list {
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__widget_list:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-copyright {
  background: #191919;
  min-height: 115px;
}

.footer-copyright__list {
  max-width: 1254px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
  color: #555555;
  font-size: 13px;
  line-height: 16px;
}

.footer-copyright__item {
  padding-right: 12px;
  padding-left: 12px;
  border-right: 1px solid #191919;
  color: #555555;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-copyright__item:nth-last-child(1) {
  border-right: none;
}

.footer-copyright__item:hover {
  color: #baa78f;
}

.footer_main_text_wrap:hover .footer__text_main {
  color: #c7b299;
  cursor: pointer;
}

.footer__link:after {
  content: " >";
}

.project__img, .video-presentation__play-img, .latest-proect__img, .devices__img, .counters__img, .recent__img, .partners__logo, .footer__widget_list a {
  background: color_friar_gray_approx;
}

@media screen and (max-width: 768px) {
  .header_hidden_menu {
    position: fixed;
    top: 89px;
    width: 235px;
    left: 498px;
    display: none;
  }
  .header_open_menu {
    display: block;
    background: rgba(255, 255, 255, 0.1);
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .header__menu_small {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 5px;
  }
  .header__menu-list {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
  }
  .header__submenu {
    text-align: center;
    padding-bottom: 10px;
  }
  .header__left_swap {
    display: none;
  }
  .header__right_swap {
    display: none;
  }
  .header__text_big {
    font-size: 34px;
  }
  .header__heading {
    font-size: 50px;
  }
  .services__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .waxom {
    min-height: 666px;
  }
  .purchase__heading {
    font-size: 25px;
  }
  .purchase__text {
    font-size: 17px;
  }
  .purchase__wrap {
    padding-right: 40px;
  }
  .latest-project__card-list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .latest-project__item {
    max-width: 370px;
    margin: auto;
    margin-bottom: 69px;
  }
  .latest-project__wrap-button {
    padding-bottom: 40px;
  }
  .devices {
    min-height: auto;
  }
  .devices__img-wrap {
    display: none;
  }
  .devices__text-wrap {
    padding: 130px 70px;
  }
  .counters__list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .counters__img {
    width: 40px;
  }
  .counters__number {
    font-size: 36px;
  }
  .counters__desc {
    font-size: 13px;
  }
  #myVideo {
    display: none;
  }
  .video-presentation {
    background-image: url(img/video.png);
  }
  .recent__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
  }
  .recent__card {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .recent__slider {
    padding-top: 37px;
  }
  .partners_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners__logo {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }
  .footer_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-copyright {
    margin-top: 80px;
  }
  .footer-copyright__list {
    text-align: center;
    max-width: 440px;
  }
}

@media screen and (max-width: 376px) {
  body {
    margin-left: 0;
  }
  .header {
    min-height: 690px;
  }
  .header_hidden_menu {
    position: fixed;
    top: 84px;
    width: 235px;
    left: 104px;
    display: none;
  }
  .header_open_menu {
    display: block;
    background: rgba(0, 0, 0, 0.8);
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .header__menu_small {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 5px;
    margin-top: 1px;
  }
  .header__menu-list {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
  }
  .header__submenu {
    text-align: center;
    padding-bottom: 10px;
  }
  .header__icon {
    width: 36px;
  }
  .header__icon-name {
    font-size: 24px;
  }
  .header__text {
    font-size: 11px;
    line-height: 17px;
  }
  .header__text_big {
    font-size: 28px;
    text-align: center;
    line-height: 34px;
  }
  .header__heading {
    font-size: 38px;
    line-height: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__main {
    padding-top: 100px;
  }
  .header__button {
    padding: 14px 24px;
  }
  .header__slider_wrap {
    padding-top: 100px;
    width: 80px;
  }
  .header__slider_round {
    height: 8px;
    width: 8px;
  }
  .services__block {
    padding-bottom: 30px;
  }
  .services__item {
    margin-bottom: 50px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__img {
    height: 42px;
  }
  .services__heading {
    font-size: 18px;
    line-height: 21px;
    padding-top: 20px;
  }
  .services__text {
    font-size: 12px;
    max-width: 250px;
  }
  .waxom {
    min-height: 503px;
  }
  .waxom__wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
  .waxom__heading {
    padding-top: 53px;
    font-size: 22px;
    max-width: 355px;
    font-weight: 400;
    line-height: 28px;
  }
  .waxom__text {
    font-size: 12px;
    line-height: 18px;
  }
  .purchase__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .purchase__heading {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 18px;
  }
  .purchase__text {
    font-size: 10px;
    line-height: 5px;
  }
  .purchase__button {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 16px 27px;
  }
  .latest-project__desc {
    padding-top: 56px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .latest-project__top-heading {
    font-weight: 500;
    font-size: 27px;
    line-height: 34px;
    padding-bottom: 12px;
  }
  .latest-project__text {
    font-size: 13px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .latest-project__text-card {
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 23px;
  }
  .latest-project__category {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 33px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .latest-project__choose_category {
    font-size: 12px;
    line-height: 16px;
    margin: 0 5px 10px;
  }
  .latest-project__item {
    margin-bottom: 36px;
    max-width: 255px;
  }
  .latest-project__item_dark {
    max-width: 313px;
    height: 163px;
  }
  .latest-project__item_dark_small {
    height: 186px;
  }
  .latest-project__img {
    max-width: 255px;
  }
  .latest-project__heading {
    font-size: 16px;
  }
  #myVideo {
    display: none;
  }
  .video-presentation {
    background-image: url(img/video.png);
  }
  .video-presentation_wrap {
    padding-top: 170px;
  }
  .video-presentation__play-img {
    width: 90px;
  }
  .video-presentation__heading {
    font-size: 21px;
  }
  .video-presentation__text {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-presentation__time {
    font-size: 13px;
  }
  .devices__heading {
    font-size: 23px;
    line-height: 33px;
  }
  .devices__text {
    font-size: 13px;
  }
  .devices__text-wrap {
    padding: 60px 30px;
  }
  .devices__list {
    padding-left: 0;
    font-size: 13px;
  }
  .devices__list-item {
    padding-left: 40px;
    background-size: 7%;
  }
  .counters__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .counters__img {
    width: 36px;
  }
  .counters__number {
    font-size: 32px;
  }
  .counters__desc {
    font-size: 11spx;
    text-transform: uppercase;
  }
  .counters__item {
    padding-bottom: 35px;
  }
  .counters_line {
    margin-top: 22px;
  }
  .recent__top {
    padding-top: 65px;
  }
  .recent__heading {
    font-size: 26px;
  }
  .recent__text {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 5px;
  }
  .recent__img {
    height: auto;
    width: 313px;
  }
  .recent__calendar {
    left: 17px;
  }
  .recent__calendar_upper_text {
    font-size: 20px;
    line-height: 37px;
  }
  .recent__calendar_down_text {
    padding-top: 5px;
    font-size: 10px;
    line-height: 7px;
  }
  .recent__upper_calendar {
    width: 40px;
    height: 35px;
  }
  .recent__down_calendar {
    width: 40px;
    height: 17px;
  }
  .recent__subheading {
    font-size: 16px;
    line-height: 21px;
    padding: 24px 18px 12px 23px;
  }
  .recent__text-card {
    font-size: 10px;
    line-height: 17px;
  }
  .recent__link {
    font-size: 11px;
  }
  .recent__card {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .recent__slider {
    padding-top: 27px;
    padding-bottom: 45px;
  }
  .recent__slider-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .recent_slider_bold {
    width: 19px;
  }
  .partners__logo {
    width: 170px;
  }
  .footer_wrap {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer__wrapper_logo {
    padding-top: 60px;
  }
  .footer__icon {
    width: 55px;
  }
  .footer__desc_icon {
    font-size: 30px;
    line-height: 32px;
  }
  .footer_main_text_wrap {
    padding-top: 13px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__block-info-short {
    padding-top: 20px;
  }
  .footer__heading {
    font-size: 22px;
    padding-bottom: 12px;
  }
  .footer__posts-data {
    font-size: 11px;
  }
  .footer__text {
    font-size: 11px;
  }
  .footer__text_main {
    font-size: 11px;
    line-height: 15px;
  }
  .footer__widget-item {
    min-height: 173px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-copyright {
    margin-top: 50px;
  }
  .footer-copyright__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 11px;
  }
  .footer__widget_list img {
    width: 124px;
  }
}
/*# sourceMappingURL=style.css.map */